name: Submit dependency graph

on:
  push:
    branches: [ "main" ]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2
      - name: Setup Gradle to generate and submit dependency graphs
        uses: gradle/actions/setup-gradle@v5
        with:
          dependency-graph: generate-and-submit
      - uses: actions/setup-java@v5.2.0
        with:
          distribution: zulu
          java-version: 25
      - name: Run a build and generate the dependency graph which will be submitted post-job
        run: ./gradlew assemble
